body{
    font-family: 'Montserrat';
    text-align: center;
    overflow-x: hidden;
}

.container{
    margin: 0 1rem;
    margin-top: 80px;
}
.testimonials{
    margin: 0 1rem;
    margin-top: 80px;
    padding: 5rem .5rem;
    background-color: rgba(182, 226, 255, 0.389);
}
.gallery{
    margin-top: 80px;
    padding: 2rem .5rem;
}
.book{
    margin-top: 80px;
    background-color: rgba(182, 226, 255, 0.389);
    padding: 2rem 3rem;
}

.gallery h3{
    color: rgba(95, 138, 168, 0.801);
}
h2{
    color: rgb(66, 120, 156);
}
h3{
    color: rgba(178, 218, 247, 0.801);
}
.header{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
}
.swiper-cards{
    display: block;
}
.cards{
    display: none;
}

.swiper-slide-alt{
    max-height: 300px;
    object-fit: contain;
}

.swiper-slide img{
    height: 100%;
}

.slide-wrapper{
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
    text-align: left;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 10px;
}

.slide-wrapper h2,
.slide-wrapper h3,
.slide-wrapper p{
    margin: 10px 5px;
}

.slide-wrapper p{
    margin-bottom: 20px;
}

.slide-img{
    object-fit: contain;
}

.form-text{
    display: flex;
    flex-direction: column;
}
.footer{
    margin: 20px auto;
    margin-top: 60px;
}

@media screen and (min-width: 650px) {
    .swiper-slide{
        max-height: 600px;
    }

    img{
        width: 100%;
    }
    .container{
        margin: 0 200px;
        margin-top: 100px;
    }
    .gallery{
        margin-top: 100px;
        padding: 2rem .5rem;
    }
    .book{
        margin-top: 100px;
        background-color: rgba(182, 226, 255, 0.389);
        padding: 2rem 400px;
    }
    .intro img{
        width: 60%;
    }
    .testimons{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 60px;
    }
    .swiper-cards{
        display: none;
    }
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        max-width: 1300px;
        margin: 0 auto;
        gap: 10px;
    }
    .card{
        width: 280px;
        height: 300px;
        object-fit: contain;
        text-align: left;
        background-color: white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        margin: 0 auto;
        overflow: hidden;
        margin-bottom: 10px;
    }
    .card-img{
        object-fit: contain;
    }
    .card h2,
    .card h3,
    .card p{
        margin: 10px 5px;
    }
}